@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400;500;600;700;800&display=swap");

:root {
  --btn-padding: 15px;
  --label-color: #795f37;
  --input-border: solid 1px lightgrey;
  --border-rad: 3px;
}

fieldset {
  border: none;
}
.wrapper {
  display: flex;
  padding: 30px 20px;
}
.container {
  width: 900px;
  margin: auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border: var(--input-border);
  border-radius: 5px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-left: 10px solid #795f37;
}

.error-messages {
  width: 40%;
  margin: auto;
  margin-top: 5vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border: 3px solid #eed3d7;
  border-radius: 7px;
  background-color: #f2dede;
  color: #b84a48;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.email {
  position: relative;
}

.not-valid::before {
  content: "\2716";
  position: absolute;
  left: -25px;
  top: 5px;
  font-size: 1.2rem;
  color: red;
}
.valid::before {
  content: "\2714";
  position: absolute;
  left: -25px;
  top: 5px;
  font-size: 1.2rem;
  color: rgb(4, 171, 4);
}
.label {
  color: #eb9549;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-weight: 600;
}

/* icons */
.icon:not(.fa-money-bill-wave):not(.fa-cc-visa) {
  font-size: 1rem;
  width: 40px;
  padding: 10px;
  text-align: center;
  border: var(--input-border);
  color: lightslategray;
  border: none;
}

.fa-money-bill-wave,
.fa-cc-visa {
  margin-right: 5px;
}

input:not(.date):not([type="month"]) {
  border: none;
  border-left: var(--input-border);
}

.icon-input {
  border: var(--input-border);
  border-radius: var(--border-rad);
}

/* inputs */
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
#information:focus {
  transition: outline 200ms;

  outline: solid 1px #795f37;
  border: none;
}

/* buttons */

input[type="radio"] {
  display: none;
}
.card-btns > * {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
  border: var(--input-border);
  color: lightslategray;
}

.visa {
  border-radius: 3px 0 0 3px;
  transition: background-color 350ms;
}
.cash {
  border-radius: 0 3px 3px 0;
  transition: background-color 350ms;
}
.on {
  background-color: #eb9549 !important;
  color: white !important;
  border: solid rgba(0, 0, 0, 0.246) 1px !important;
}
.err {
  border: 1.5px solid rgb(255, 0, 0) !important;
  border-radius: 0 var(--border-rad) var(--border-rad) 0;
}
.not-checked::after {
  content: "*";
  color: red;
  font-size: 1.2rem;
  padding-left: 2px;
}
/* account */
.account {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.account > * {
  display: flex;
}

.account input {
  width: 100%;
  padding-left: 5px;
}

/* payment details */
.payment-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.card-btns {
  display: flex;
  border-radius: var(--border-rad);
}

/* party information */
.size-when {
  display: flex;
  gap: 1rem;
}
.size-when > * {
  flex: 1;
}

.party-size,
.when {
  display: flex;
  min-width: 70px;
  border: var(--input-border);
}

input[type="date"] {
  outline: none;
  border: none;
  padding-right: 10px;
  color: black;
}

.party-size > input,
.when > input {
  width: 100%;
  padding-left: 5px;
}

.info-container {
  display: flex;
  flex-direction: column;
}
.info-container textarea {
  width: 100%;
  padding: 10px 10px;
  outline: none;
  resize: none;
}

/* newsletter */
.check-newsletter {
  display: flex;
  gap: 0.5rem;
  font-size: 1rem;
  color: rgb(139, 139, 139);
  margin-top: 10px;
  align-items: center;
  padding-left: 30px;
}
.check-newsletter input {
  transform: scale(1.5);
  margin-right: 10px;
}

/* submit button */

.submit-form-btn {
  align-self: center;
  text-align: center;
  width: 150px;
  box-shadow: inset 0px 1px 0px 0px #fce2c1;
  background: linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
  background-color: #ffc477;
  border-radius: 6px;
  border: 1px solid #eeb44f;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #cc9f52;
  transition: all 300ms;
}
.submit-form-btn:hover {
  background: linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
  background-color: #fb9e25;
  transform: scale(1.05);
}
.submit-form-btn:active {
  position: relative;
  top: 1px;
}

@media (max-width: 1240px) {
  .container,
  .error-messages {
    width: 80%;
  }
}
@media (max-width: 625px) {
  .container {
    margin-top: 3vh;
    width: 100%;
    gap: 0.5rem;
  }
  .error-messages {
    width: 90%;
  }

  .submit-btn {
    margin-top: 10px;
  }
}
