*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --background-blur-color: rgba(0, 0, 0, 0.742);
  --accent-color: rgb(0, 0, 0);
}
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Water+Brush&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");

/* template */
body {
  display: grid;
  background-image: url("/src/lofi-bg.jpg");

  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  grid-template: 60px 1fr 40px / 1fr;
  font-family: "Bai Jamjuree", sans-serif;
  height: 100vh;
}

.frosted-bg {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.11);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: -999;
}

/* nav */
nav ul {
  display: flex;
  gap: 2.5rem;
  height: 100%;
  text-align: center;
  justify-content: center;
  background-color: #eeeae5;
  border-bottom: 1px solid rgba(180, 180, 180, 0.256);
  position: relative;
}

nav li {
  flex: 1;
  max-width: min-content;
  align-self: center;
  list-style: none;
}
nav a {
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
}
nav ul .active {
  color: #eb9549;
}
nav li {
  width: min-content;
}
nav li a:not(.active):after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: #eb954984;
  transition: width 0.4s ease-in;
}

nav li a:hover::after {
  width: 100%;
}

/* mobile nav */

/* company-name */
.company-name {
  display: flex;
  height: 100%;
  gap: 0.5rem;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
  color: black;
}

.company-name .first-word {
  color: #795f37;
}
.company-name .second-word {
  font-weight: 400;
}
/* footer */
footer {
  height: 100%;
  background-color: #eeeae5;
  color: black;
  font-size: 0.8rem;
  display: grid;
  place-items: center;
  border-top: 1px solid rgba(180, 180, 180, 0.303);
}

@media (max-width: 1600px) {
  .right-half img {
    width: 70%;
  }
}

@media (max-width: 900px) {
  .home-container {
    flex-direction: column;
  }
  .left-half {
    display: none;
  }
}

@media (max-width: 500px) {
  .right-half img {
    width: 90%;
  }
}

@media (min-width: 1950px) {
  .menu-container {
    width: 1300px;
  }
}
