* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --background-blur-color: rgba(0, 0, 0, 0.742);
  --accent-color: rgb(0, 0, 0);
}
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400;500;600&display=swap");

/* template */
body {
  display: grid;
  background-image: url("/src/lofi-bg.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  grid-template: 60px 80px 1fr 40px / 1fr;
  height: 100vh;
  font-family: "Bai Jamjuree", sans-serif;
}

nav ul {
  display: flex;
  height: 100%;
  text-align: center;
  justify-content: center;
  background-color: white;
  border-bottom: 1px solid rgba(180, 180, 180, 0.303);
}
nav li {
  flex: 1;
  max-width: 200px;
  align-self: center;
  list-style: none;
}
nav a {
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
}
nav ul .active,
nav li a:hover {
  color: rgb(170, 169, 169);
}

/* header */
header {
  padding: 20px;
  width: 100vw;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: white;
  color: black;
  display: grid;
  place-content: center;
  text-align: center;
  border-bottom: 1px solid rgba(180, 180, 180, 0.303);
}

header .first-word {
  color: orangered;
}
header .second-word {
  font-weight: 400;
}
/* footer */
footer {
  height: 100%;
  background-color: white;
  color: black;
  font-size: 0.8rem;
  display: grid;
  place-items: center;
}

/* home page */
.home-container {
  width: 100%;
  height: 100%;
  display: flex;
}
.home-container > * {
  flex: 1;
}
.left-half {
  background-image: url("storefront.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
.right-half {
  background-color: var(--background-blur-color);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  color: white;
  padding: 0 40px;
}

.home-logo {
  width: 50%;
  align-self: center;
}
/* menu content */
.menu-container {
  display: grid;

  width: 80%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(300px, 100px));
  gap: 1.3rem;
  color: white;
  margin: 65px auto;
}
.menu-item {
  background-color: var(--background-blur-color);
  backdrop-filter: blur(5px);

  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menu-item > * {
  padding: 2px;
}
.menu-item h2 {
  border-bottom: 1px solid orangered;
  margin-bottom: 10px;
}
.menu-item img {
  width: 200px;
  height: 127px;
  border-radius: 50%;
  padding: 0 10px;
}
.menu-item p {
  text-align: center;
  min-height: 50px;
}
.menu-price {
  font-size: 1.1rem;
  font-weight: 600;
  border-top: 1px solid orangered;
  margin-top: 8px;
  letter-spacing: 0.1rem;
}

/* contact */
.form-container {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  max-width: 900px;
  color: white;
  font-size: 1.3rem;
  background-color: var(--background-blur-color);
  gap: 20px;
  padding: 30px 0;
}

h2 {
  text-align: center;
}
.form-container > div {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 260px;
  gap: 1rem;
}

textarea {
  width: 260px;
  height: 140px;
  align-self: center;
}

button {
  width: 160px;
  font-size: 1.3rem;
  border: none;
  background-color: white;
  align-self: center;
}
