* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --background-blur-color: rgba(0, 0, 0, 0.63);
  --accent-color: rgb(0, 0, 0);
}
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400;500;600&display=swap");

/* template */
body {
  display: grid;

  grid-template: 60px 80px 1fr 40px / 1fr;
  height: 100vh;
  background-image: url("/src/lofi-bg.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Bai Jamjuree", sans-serif;
}

nav ul {
  display: flex;
  height: 100%;
  text-align: center;
  justify-content: center;
  background-color: var(--accent-color);
}
nav li {
  flex: 1;
  max-width: 400px;
  align-self: center;
  list-style: none;
}
nav a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}
nav a:hover {
  color: grey;
}

/* header */
header {
  background-color: var(--background-blur-color);
  backdrop-filter: blur(5px);
  padding: 20px;
  width: 100vw;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  display: grid;
  place-content: center;
}

header .first-word {
  color: orangered;
}
header .second-word {
  font-weight: 400;
}
/* footer */
footer {
  height: 100%;
  background-color: var(--accent-color);
  color: rgba(255, 255, 255, 0.589);
  font-size: 0.8rem;
  display: grid;
  place-items: center;
}

/* home page */

.vid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 80px 30px;
  max-width: 900px;
  gap: 1.3rem;
  margin: auto;
}
.video {
  width: 100%;
  height: 100%;
}
.home-desc {
  background-color: var(--background-blur-color);
  color: white;
  font-size: 1.5rem;
  border-radius: 10px;
  text-align: center;
}

/* menu content */
.menu-container {
  display: grid;
  height: 100%;
  width: 80%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(300px, 100px));
  gap: 1.3rem;

  color: white;
  margin: 1.3rem auto;
}
.menu-item {
  background-color: var(--background-blur-color);
  backdrop-filter: blur(5px);

  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menu-item > * {
  padding: 2px;
}
.menu-item h2 {
  border-bottom: 1px solid white;
  margin-bottom: 10px;
}
.menu-item img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 0 10px;
}
.menu-item p {
  text-align: center;
  min-height: 50px;
}

/* contact */
.form-container {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  max-width: 900px;
  color: white;
  font-size: 1.3rem;
  background-color: var(--background-blur-color);
  gap: 20px;
  padding: 30px 0;
}

h2 {
  text-align: center;
}
.form-container > div {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 260px;
  gap: 1rem;
}

textarea {
  width: 260px;
  height: 140px;
  align-self: center;
}

button {
  width: 160px;
  font-size: 1.3rem;
  border: none;
  background-color: white;
  align-self: center;
}
